#respmenuforo{
	display: none;
}
.menu-toggle {
  width: 40px;
  height: 30px;
  position: fixed;
  right: 5%;
  cursor: pointer;
}
.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}
.menu-toggle.on .two {
  opacity: 0;
}
.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}

.one, .two,.three {
  width: 100%;
  height: 5px;
  background: white;
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.marcomenuresp{
	height:100vh;
	width: 100%;
	position: absolute;
	right: 0;
	background-color:rgba(224, 127, 203, 0.7);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	-webkitt-linear-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	-o-backdrop-filter: blur(10px);
}
.marcomenuresp li a{
	display:block;
	padding:5px;
	text-decoration: none;
	transition: all 0.5s ease;
	font-size:30px;
	text-align:center;
	color: rgb(20, 20, 20);
	backdrop-filter: blur(10px);
}
.marcomenuresp li a:hover {
	z-index: 10;
	padding: 0 16px;
	background:rgba(168, 85, 150, 0.7);
	color:#fff;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	-webkitt-linear-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	-o-backdrop-filter: blur(10px);
	transition: all 0.5s ease;
	
}

@media screen and (max-width: 580px) {
  #respmenuforo {
	  display: block;
	  }
  }